*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background: lch(6.79% 50.41 305.29);
    color: white;
    line-height: 1.6;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background-color: rgb(46, 46, 233);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.256);
    position: sticky;
    top: 0;
    z-index: 1000;/*garante que o menu fica acima de todos os elementos*/
}
.logotipo{
    font-size: 50px;
    font-weight: 700;
    color: white;
    letter-spacing: 1px;
}
.logotipo span{
    color: rgb(25, 0, 167);
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    margin-left: 30px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.3s;
}
nav ul li a:hover{
    color: aqua;
}


/*conteúdo principal*/
.login-box{
    background: rgb(43, 74, 211);
    width: 440px;
    padding: 60px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgb(0, 0, 0);
    margin: auto;
    margin-top: 20px;
}
.login-box h1{
    text-align: center;
    font-size: 50px;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}
.login-box h1 span{
    color: rgb(255, 255, 255);
}

.login-box p{
    font-size: 20px;
    text-align: center;
    color: rgb(19, 9, 150);
}
.input-group label {
    margin-bottom: 8px;
    margin-top: 10px;
    display: block;
    color: #abafe0;
    font-size: 14px;
    font-weight: 500;
}
.input-box{
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(1, 1, 190);
    margin-bottom: 20px;
}
.input-box input::placeholder{
    color: white;
}
.input-box input {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    padding: 12px 0;
    font-size: 15px;
    color: #fff; 
}


button{
    width: 100%;
    padding: 15px;
    border: none;
    background: #007bff;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s;
}

button:hover{
    background: rgb(0, 0, 224);
}

footer{
    background-color: rgb(7, 71, 136);
    padding: 40px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.conteudo-rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.navegacao a{
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 15px;
}
.navegacao a:hover{
    color: rgb(9, 99, 189)
}
.direitos-autorais{
    font-size: 12px;
}
