*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background: lch(4.16% 13.56 294.16);
    color: white;
    line-height: 1.6;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background-color: rgb(46, 46, 233);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.256);
    position: sticky;
    top: 0;
    z-index: 1000;/*garante que o menu fica acima de todos os elementos*/
}
.logotipo{
    font-size: 50px;
    font-weight: 700;
    color: white;
    letter-spacing: 1px;
}
.logotipo span{
    color: rgb(12, 6, 99);
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    margin-left: 30px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.3s;
}
nav ul li a:hover{
    color: aqua;
}
/*conteúdo principal*/
.secao-principal-contato {
    display: flex;
    flex-direction: column; 
    align-items: center;  
    text-align: center;     
}

.texto-apresentacao-contato h1{
    font-size: 75px;
    margin-bottom: 15px;
    color: white;
}
.texto-apresentacao-contato h1 span{
    color: rgb(255, 255, 255);
}

.grupo-botoes{
    display: flex;
    gap: 30px;
}
.btn-c{
    padding: 30px 50px;
    border-radius: 100px;
    text-decoration: none;
    font-weight: bold;
    transform: 0.3s;
}
.btn-c:active{
    color: rgb(33, 33, 196);
}
.btn-contato{
    font-size: 20px;
    background-color: rgb(29, 71, 211);
    color: rgb(255, 255, 255);
}
.btn-contato:hover{
    background-color: rgb(8, 87, 139);
}
.area-imagem img{
    width: 300px;
    position: relative;
}

footer{
    background-color: rgb(7, 71, 136);
    padding: 40px 8%;
    text-align: center;
    margin-top: 50px;
    flex-shrink: 0;
}
.conteudo-rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.navegacao a{
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 15px;
}
.navegacao a:hover{
    color: rgb(9, 99, 189)
}
.direitos-autorais{
    font-size: 12px;
}